@model IEnumerable<RetoDony.Models.Entities.Area>
<br />
<br />
@{
    ViewBag.Title = "Areas";
}
<h2>Usuarios</h2>
<br />
<p>@Html.ActionLink("Nueva Area", "Crear")</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Idarea)</th>
        <th>@Html.DisplayNameFor(x => x.Nombrearea)</th>

    </tr>
    <tbody>
        @foreach (var area in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => area.Idarea)</td>
                <td>@Html.DisplayFor(x => area.Nombrearea)</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = area.Idarea }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = area.Idarea }) |
                    @Html.ActionLink("Detalle", "Detalle", new { id = area.Idarea })
                </td>
            </tr>
        }
    </tbody>
</table>
