@model IEnumerable<RetoDony.Models.Entities.Area>
<br />
<br />
@{
    ViewBag.Title = "Areas";
}
<h2>Areas</h2>
<br />
<p>@Html.ActionLink("Nueva Area", "Crear")</p>
<p>@Html.ActionLink("Nuevo Cargo", "Crear", "Cargo")</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Idarea)</th>
        <th>@Html.DisplayNameFor(x => x.Nombrearea)</th>

    </tr>
    <tbody>
        @foreach (var area in Model)
        {
        <tr style="margin-bottom 5px;">
            <td>@Html.DisplayFor(x => area.Idarea)</td>
            <td>@Html.DisplayFor(x => area.Nombrearea)</td>
            <td>
            <td><div class="btn btn-default"> @Html.ActionLink("Editar", "Editar", new { id = area.Idarea }) </div></td>
            <td><div class="btn btn-default"> @Html.ActionLink("Eliminar", "Eliminar", new { id = area.Idarea })</div> </td>
        </tr>
        }
    </tbody>
</table>
