@model RetoDony.Models.Entities.Cargo

@{
    ViewBag.Title = "Cargos - Detalle";
}

<h2>Detalle Cargo</h2>

<div>
    <h4>Cargo: </h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Idcargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idcargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<div>
    <div class="btn btn-default">@Html.ActionLink("Editar", "Editar", new { id = Model.Idcargo })</div>
    <div class="btn btn-default">@Html.ActionLink("Volver", "MostrarCargos")</div>
</div>
