@model RetoDony.Models.Entities.Cargo

@{
    ViewBag.Title = "Cargos - Eliminar";
}

<h2>Eliminar Cargo</h2>

<h3>¿Quieres eliminar este cargo?</h3>
<div>
    <h4>Cargo: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idcargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idcargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    @using (Html.BeginForm()) {

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            <div class="btn btn-default" > @Html.ActionLink("Volver", "MostrarCargos")</div>
        </div>
    }
</div>
