@model IEnumerable<RetoDony.Models.Entities.CargoArea>

@{
    ViewBag.Title = "Cargos";
}
<br />
<br />
<h2>Cargos</h2>
<div>
    <div class="btn btn-default">@Html.ActionLink("Nuevo Cargo", "Crear")</div>
    <div class="btn btn-default">@Html.ActionLink("Nuevo Empleado", "Crear", "Usuario")</div>
</div>

<table class="table">
    <tr>        
        <th>@Html.DisplayNameFor(x => x.Nombre)</th>
        <th>@Html.DisplayNameFor(x => x.NombreArea)</th>
    </tr>
    <tbody>
        @foreach (var cargoa in Model)
        {
        <tr style="margin-bottom: 5px;">
            <td>@Html.DisplayFor(x => cargoa.Nombre)</td>
            <td>@Html.DisplayFor(x => cargoa.NombreArea)</td>
            <td><div class="btn btn-default"> @Html.ActionLink("Editar", "Editar", new { id = cargoa.Idcargo }) </div></td>
            <td><div class="btn btn-default"> @Html.ActionLink("Eliminar", "Eliminar", new { id = cargoa.Idcargo }) </div></td>
            <td><div class="btn btn-default"> @Html.ActionLink("Detalle", "Detalle", new { id = cargoa.Idcargo })</div></td>
        </tr >
        }
    </tbody>
</table>
