@model IEnumerable<RetoDony.Models.Entities.Cargo>

@{
    ViewBag.Title = "Cargos";
}
<br />
<br />
<h2>Usuarios</h2>
<br />
<p>@Html.ActionLink("Nuevo Cargo", "Crear")</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Idcargo)</th>
        <th>@Html.DisplayNameFor(x => x.Nombre)</th>
        <th>@Html.DisplayNameFor(x => x.Area)</th>
    </tr>
    <tbody>
        @foreach (var cargo in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => cargo.Idcargo)</td>
                <td>@Html.DisplayFor(x => cargo.Nombre)</td>
                <td>@Html.DisplayFor(x => cargo.Area)</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = cargo.Idcargo }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = cargo.Idcargo }) |
                    @Html.ActionLink("Detalle", "Detalle", new { id = cargo.Idcargo })
                </td>
            </tr>
        }
    </tbody>
</table>
