@model IEnumerable<RetoDony.Models.Entities.UsuarioCargo>
<br />
<br />
@{
    ViewBag.Title = "Empleados";
}
<h2>Empleados</h2>
<br />
<div class="btn btn-default">@Html.ActionLink("Nuevo Empleado", "Crear")</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Nombre)</th>
        <th>@Html.DisplayNameFor(x => x.Documento)</th>
        <th>@Html.DisplayNameFor(x => x.NombreCargo)</th>
    </tr>
    <tbody>
        @foreach (var usuarioc in Model)
        {
        <tr style="margin-bottom: 5px">
            <td>@Html.DisplayFor(x => usuarioc.Nombre)</td>
            <td>@Html.DisplayFor(x => usuarioc.Documento)</td>
            <td>@Html.DisplayFor(x => usuarioc.NombreCargo)</td>            
            <td><div class="btn btn-default">@Html.ActionLink("Editar", "Editar", new { id = usuarioc.Idusuario }) </div></td>
            <td><div class="btn btn-default"> @Html.ActionLink("Eliminar", "Eliminar", new { id = usuarioc.Idusuario }) </div></td>
            <td><div class="btn btn-default"> @Html.ActionLink("Detalle", "Detalle", new { id = usuarioc.Idusuario }) </div></td>
        </tr>
        }
    </tbody>
</table>
